@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: rgb(85, 86, 90);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Barlow", sans-serif;
  color: rgb(49, 118, 200);
}

.App {
  margin: 0 auto;
  width: 80%;
}
